<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyRecharge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84D9BA0A1EC36F58009042CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84D9BA211EC36F59009042CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84D9BA2C1EC36F59009042CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
